/*! Section 4 - Navigation Styles  */
.top-bar {	
			background: #333;
			box-shadow: 0 2px 1px -1px #fefefe;
			-webkit-box-shadow: 0 2px 1px -1px #fefefe;
				position: relative;
			-moz-box-shadow: 0 2px 1px -1px #fefefe;
			z-index: 1000;
}
@media screen and (max-width: 39.9375em){
			.top-bar, .top-bar ul {
						background-color: #333;
				}
			.menu.vertical > li {
    	border-bottom: solid 1px #777;
				}
			.menu.vertical > li:last-child{
					border-bottom: none;
			}
			.is-drilldown-submenu-parent > a::after {
    	border-color: transparent transparent transparent #ffffff;
			}
			.menu>li>a:hover {
    	background: #fff;
    	color: #000;
					text-decoration: underline;
			}
			.menu>li>a:active {
    	background: #000;
    	color: #fff;
					text-decoration: underline;
			}
			.menu > li > a {display: block;padding: 0.7rem 1rem;line-height: 1;color: #fff;}
}